<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <div class="wrapper">
      <h1>Oppsy!! <%= message%></h1>
    </div>
  </body>
</html>
