<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedbacks</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main_wrapper">
      <h2>Feedback's</h2>
      <form action="#">
        <%for(item of feedback){%>
        <div class="feedback_wrapper">
          <h2>message : <%= item.message%></h2>
          <h2>category : <%= item.category%></h2>
          <h2>rating : <%= item.rating%></h2>
          <h2>created : <%= item.createdAt%></h2>
        </div>
        <% }%>
      </form>
    </div>
  </body>
</html>
